body {
    font-family: 'Arial', sans-serif;
    background-image: url('bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    background-color: #333;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    max-width: 610px;
    margin: 150px auto;
    background-color: rgba(255, 255, 255, 0.75); /* Semi-transparent white background */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
}

.notice {
    color: #ff000080
}

h1 {
    text-align: center;
    color: #ff000080;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"], button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

button {
    background-color: #292c30;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #bc8c8f;
}

.output {
    margin-top: 20px;
    font-size: 16px;
}

.download-btn {
    display: block;
    padding: 10px;
    background-color: #292c30;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.download-btn:hover {
    background-color: #bc8c8f;
}
